@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-image: url('../public/imgs/background/dark-mode.png'); */
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-blend-mode: lighten;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  margin-top: -20px;
  font-family: 'Bungee Hairline', cursive;
  -o-user-select: none;; 
  user-select: none;
}

.App {
  margin: auto;
  margin-top: -21px;
  padding: 0;
  padding-top: 0;
  
  display: block;
  /* position: fixed; */
  height: 103.5vh;
  width: 30vw;
  min-width: 400px;
  background-image: url('./imgs/background/login_and_registration.jpg');
  background-repeat: no-repeat;
  background-size: cover;
} 
  

.content {
  height: 93vh;
  background-color: rgba(255, 255, 255, .4);
  color: #112233;
}

.btn {
  display: inline-block;
  background: rgb(32, 98, 151);
  color: #fff;
  border: none;
  padding: 1% 2%;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.div-name{
  max-width: 100vw;
  max-height: 10vh;
  margin : auto;
  padding-top: 0%;
  padding-left: 3%;
  padding-bottom: 1%;

  color: #fff;
}

.form-div{
  margin: auto;
  padding: 1%;
  display: table ;
  text-align: left;
  text-transform: uppercase;
  width: 60%;
  height: 61%;
  padding: 10%;
}

.form input {
  width: 90%;
  /* height: 40px; */
  margin: auto;
  /* margin-top: 5%; */
  margin-bottom: 10%;
  padding: 3px 7px;
  font-size: 17px;
}

.btn-submit{
  flex: 2;
  margin-top: 10%;
  width: 98%;
  font-size: 20px;
  background-color: rgb(41, 129, 129);
}

.form label{
  text-transform: capitalize;
  font-weight: 700;
  font-family: Poppins;
}

.form h2{
  margin-top: 0;
  margin-bottom: 15%;
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
  text-decoration: underline;
  /* text-decoration: solid; */
}

.form input[type = "text"], 
.form input[type = "password"]{
  /* border: none; */
  border-style: ridge;
  border-radius: 5px;
  border-color: #112233;
  border-width: .5px;
}

::placeholder {
  color : #919191;
}

.div-sign{
  position: relative;
  top: 1vh;
  left: 1vw;
  margin-right: 10%;
  text-align: right;
  text-transform: capitalize;
  text-justify: auto;
  font-family: Poppins;
  line-height: 0;
}

.div-sign .btn{
  margin: 0;
  width: 36%;
}

.div-incorrect{
  margin-top: 5%;
  text-align: left;
  color: #940303;
  text-transform: none;
  line-height: 0;
  font-size: x-small;
  font-weight: bolder;
  margin-bottom: 0;
}

.div-incorrect a {
  text-decoration: underline;
  text-decoration-color: #940303;
  cursor: pointer;
}

.register-form input{
  margin-bottom: 5%;
}

.iconTheme{
  cursor: pointer;
}

.user-div{
  margin: 1%;
  border-radius: 0%;
  height: 10vh;
  align-content: center;
  /* padding: 2%; */
}
.user-rounded-div{
  float: left;
  /* background-color: rgba(45, 16, 71, 0.87); */
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  margin-left: 0vw;
  margin-top: -10vh;
}
.user-rounded-div-2{
  float: right;
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  z-index: 4;
  margin-top: -10vh;
  /* background-color: rgba(45, 16, 71, 0.87); */
  color: white;
}

.user-name-div{
  height: 9vh;
  width: 19vw;
  padding-left: 03vw;
  padding-right: 03vw;
  padding-top: 1vh;
  /* background-color: rgba(45, 16, 71, 0.87); */
  margin: auto;
  color: white;
  text-align: center;
  /* z-index: 5; */
}

.pp-user-div{
  height: 9vh;
  width: 9vh;
  border-radius: 50%;
  margin: .5vh;
  cursor: pointer;
}

.menu-user-div{
  height: 9vh;
  width: 7vh;
  cursor: pointer;
}

.username-user-div{
  text-align: center;
  font-size: xx-large;
  text-align: center;
  vertical-align: middle;
}

.navbar{
  margin: 1%;
  margin-bottom: 0%;
  margin-top: -8.1%;
  padding-top: 9.1%;
  padding-bottom: 0%;
  border-radius: 0%;
  height: 6.5vh;
  /* align-content: flex-end; */
  /* background-color: rgba(45, 16, 71, 0.87); */
}

.navbar-menu{
  float: left;
  width: 30%;
  color: white;
}

.navbar-menu:hover{
  background-color: aqua;
}

.navbar-menu-selected{
  background-color: rgb(38, 160, 85);
}

.navbar-users{
  margin-left: 2.5%;
}

.navbar-chats{
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.navbar-feeds{
  margin-right: 2.5%;
}

.navbar-btn{
  background-color: rgba(70, 130, 180, .5);
  width: 100%;
  height: 5vh;
  border: none;
  cursor: pointer;
  color: white;
  font-family: Poppins;
  font-size: larger;
}

/*search box*/
.search-div{
  /* width: 100%; */
  height: 5vh;
  margin-left: 1%;
  margin-right: 1%;
  padding-top: .6vh;
  padding-right: 2%;
  padding-left: 2%;
}

.search-input{
  float: right;
}
.search-input input{
  border-style: ridge;
  border-radius: 5px;
  border-color: #112233;
  border-width: .5px;
  width : 15vw;
  height : 20px;
}
.search-button{
  padding-top: 1%;
  float: right;
  color: white;
  cursor: pointer;
}
.search-close{
  margin: auto;
  padding-top: 1%;
  margin-left: 1%;
  float: right;
  color: red;
  cursor: pointer;
}

.users{
  background-color: rgba(148, 3, 3, .2);
  height: 15vh;
  margin: 0% 1% 1% 0%;
}

.app-content{
  height: 74vh;
  margin: -4% 1% 0% 1%;
  /* background-color: rgba(45, 16, 71, 0.75); */
  padding: 1%;
  /* margin-bottom: 2%; */
  color: white;
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: .5vw;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

.user-list{
  margin: 1%;
  border: solid 2.5px grey;
  height: 10vh;
  padding-top: 1%;
  cursor: pointer;
}
.user-list:hover{
  background-color: rgba(58, 31, 182, 0.5);
}
.pp-user-list{
  height: 7vh;
  width: 7vh;
  border-radius: 50%;
  margin: 1vh;
  margin-bottom: 0vh;
  cursor: pointer;
}
.user-list-img{
  float: left;
}
.user-list-username{
  margin-top: 1vh;
  font-weight: bolder;
  font-family: Poppins;
  font-size: larger;
}
.user-list-about{
  margin-top: -1vh;
  font-weight: lighter;
}

.chats-list{
  margin: 1%;
  border: solid 2.5px grey;
  height: 10vh;
  padding-top: 1%;
  cursor: pointer;
}
.chats-list:hover{
  background-color: rgba(58, 31, 182, 0.5);
}
.chats-list-img{
  float: left;
}
.chats-list-username{
  margin-top: 1vh;
  font-weight: bolder;
  font-family: Poppins;
  font-size: larger;
}
.user-list-lastMsg{
  margin-top: -1vh;
  font-weight: lighter;
}

.newMessage-div{
  border-width: 5px;
  border-style: solid;
  border-color: #43876E;
  color: #43876E;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  padding-left:5px;
  padding-top:7px;
  /* margin-left: 63%;
  margin-top: 14%; */
  position: fixed;
  cursor: pointer;
}

.newMessage-div:hover{
  border-color: #fff;
  color: #fff;
  background-color: #43876E;
}